/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: 520px;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* 使用 hero.png 作为背景图片 */
  background-image: url('/img/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  /* 添加半透明遮罩以确保文字可读性 */
  background-color: #667eea;
}

.heroBanner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  /* 深色半透明遮罩 */
  z-index: 1;
}

.heroBanner > * {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 新增的特性区域样式 */
.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
  margin-bottom: 1rem;
}
